@page
@model Hephaestus_Project.Pages.Account.EditModel
@{
}

<div class="text-center">
    <h1>Edit User</h1>
</div>
@if (Model.success)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Account Edited Successfully</strong>
            </div>
        </div>
    </div>
}
@if (Model.error != "NULL")
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.error</strong>
            </div>
        </div>
    </div>
}
<form method="post">
    <input type="hidden" asp-for="input.Id" value="@Model.input.Id" />
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Login"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.Login" value="@Model.input.Login" />
            <span class="text-danger" asp-validation-for="input.Login"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Password"></label>
        <div class="col-sm-6">
            <input type="password" class="form-control" asp-for="input.Password" value="@Model.input.Password" />
            <span class="text-danger" asp-validation-for="input.Password"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.PermLVL"></label>
        <div class="col-sm-6">
            <select class="form-control" asp-for="input.PermLVL">
                <option value="None" hidden selected disabled>
                    @switch(Model.input.PermLVL){
                        case "1":
                            <text>
                                User
                            </text>
                        break;
                        case "2":
                            <text>
                                Commander 
                            </text>
                        break;
                        case "3":
                            <text>
                                Quartermaster
                            </text>
                        break;
                        case "4":
                            <text>
                                Admin
                            </text>
                        break;}
                </option>
                <option value="1">User</option>
                <option value="2">Commander</option>
                <option value="3">Quatermaster</option>
                <option value="4">Admin</option>
            </select>
            <span class="text-danger" asp-validation-for="input.PermLVL"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Account/Index?id=@Model.input.Id" role="button">Cancel</a>
        </div>
    </div>
</form>