@page
@model Hephaestus_Project.Pages.Account.IndexModel
@{
}
<div class="text-center">
    <h1 class="display-4">User Account</h1>
</div>
<a class="btn btn-primary btn-sm button_css" href="/Users/Index">Back</a>
<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Password</th>
            <th>Permission</th>
            <th>Created at</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@Model.input.Login</td>
                <td>#######</td>
                <td>@switch(Model.input.PermLVL){
                    case "1":
                        <text>
                            User
                        </text>
                    break;
                    case "2":
                        <text>
                           Commander 
                        </text>
                    break;
                    case "3":
                        <text>
                            Quartermaster
                        </text>
                    break;
                    case "4":
                        <text>
                            Admin
                        </text>
                    break;

                }</td>
                <td>@Model.input.Created_At</td>
                <td>
                    <a class="btn btn-primary btn-sm button_css" href="/Account/Edit?id=@Model.input.Id">Edit</a>
                    <a class="btn btn-danger btn-sm button_css_dif" href="/Account/Delete?id=@Model.input.Id">Delete</a>
                </td>
             </tr>       
    </tbody>
</table>