@page
@model Hephaestus_Project.Pages.MyEQ.MyEQModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Serial</th>
            <th>Type</th>
            <th>InMaintance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListMyEQ)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Serial</td>
                <td>@item.Type</td>
                <td>@item.InMaintance</td>
            </tr>
        }
    </tbody>
</table>
