html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: rgb(38,3,3);
    color: white;
}

body {
    margin-bottom: 60px;
    background-color: grey;
    color:black;
}

#logout{
    background-color: black;
    color:white;
}
#logout:hover {
    background-color: #0b5ed7;
    color: white;
}

#login_button {
    background-color: black;
    color: white;
    height: 52px;
    width: 300px;
    font-size: 38px;
    margin: 10px;
}

#login_button:hover {
    background-color: #0b5ed7;
}

#login_body{
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
}

.credential{
    height: 52px;
    width: 300px;
    font-size:38px;
    text-align: center;
    margin: 10px;
}

.button_css {
    background-color: black;
    border-color: rgb(38,3,3);
}

.button_css_dif {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

tr{
    font-size: 20px;
    color: black;
}

div{
    color: black;
    font-size:20px;
}

welcome{
    color: white;
}

.header_button:hover{
    background-color: black;
}