html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: lightgrey;
    color:black;
}

body {
    margin-bottom: 60px;
    background-color: grey;
    color:black;
}

#logout{
    background-color: black;
    color:white;
}

#login {
    background-color: black;
    color: white;
}