@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="padding-top:200px;">
    <img src="pic/Logo.png" alt="Logo"/>
    <h1>WELCOME</h1>
    <h1>TO BLACK ARMORY</h1>
</div>
