@page
@model Hephaestus_Project.Pages.Stock.CreateModel
@{
}

<div class="text-center">
    <h1>New Weapon</h1>
</div>
@if (Model.success)
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>New User Added Successfully</strong>
            </div>
        </div>
    </div>
}
@if (Model.error != "NULL")
{
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@Model.error</strong>
            </div>
        </div>
    </div>
}
<form method="post">
    <input type="hidden" asp-for="input.EquipmentID" value="@Model.EQID">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.Serial"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.Serial" value="" />
            <span class="text-danger" asp-validation-for="input.Serial"></span>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.UserIDL"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.UserIDL" value="" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="input.InMaintance"></label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="input.InMaintance" value="" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary button_css">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary button_css_dif" href="/Stock/Index?id=@Model.EQID" role="button">Cancel</a>
        </div>
    </div>
</form>