@page
@model Hephaestus_Project.Pages.Stock.StockModel
@{
}

<div class="text-center">
    <h1 class="display-4">Stock</h1>
</div>
<a class="btn btn-primary btn-sm" href="/Arsenal/Stock/Create">Stock</a>
<table class="table">
    <thead>
        <tr>
            <th>Serial</th>
            <th>User</th>
            <th>In Maintance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListStock)
        {
            <tr>
                <td>@item.Serial</td>
                <td>@item.UserIDL</td>
                <td>@item.InMaintance</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Arsenal/Stock/Edit?id=@item.ID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Arsenal/Stock/Delete?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
